<div id="popup_paypal" class="modal modal--square">
    <div class="modal__inner popup-inner" style="align-items: flex-start;">
        <div class="modal__centered">
            <div class="modal__centered-content custom_scrollbar">
                <h3 class="text-center"><img src="//cdn.shopify.com/s/files/1/0456/3176/6690/files/paypal_credit.svg?v=1601175165"
                    style="width: 350px; margin:0 auto 20px auto;" />Apply for 0% INTEREST and get 6-month financing!</h3>
                <p class="h5 text-center">Financing your BeeCool E-Bike through PayPal Credit is as easy as 1 - 2 - 3.</p>
                        <div class="feature-row">
                            <div class="two-thrids"><span class="section-top__tags">Step 1</span>
                                <h4>Select Paypal as your payment method.</h4>
                                <p class="article-excerpt">After going through Checkout and selecting PayPal as your payment method, you will be
                                    directed to PayPal website.</p>
                            </div>
                            <div class="one-thrid"><img
                                    src="//cdn.shopify.com/s/files/1/0456/3176/6690/files/step1.svg?v=1601201030"
                                    width="150" /></div>
                        </div>
                        <hr class="hr--medium">
                        <div class="feature-row">
                            <div class="two-thrids"><span class="section-top__tags">Step 2</span>
                                <h4>Log in to your Paypal and apply for Paypal Credit.</h4>
                                <p class="article-excerpt">At PayPal confirmation page, look for PayPal Credit and click to apply. Get a credit
                                    decision in seconds!</p>
                            </div>
                            <div class="one-thrid"><img
                                    src="//cdn.shopify.com/s/files/1/0456/3176/6690/files/step2.svg?v=1601201030"
                                    width="150" /></div>
                        </div>
                        <hr class="hr--medium">
                        <div class="feature-row">
                            <div class="two-thrids"><span class="section-top__tags">Step 3</span>
                                <h4>Pay over 6 installments</h4>
                                <p class="article-excerpt">If approved, it's time to shop instantly with PayPal Credit right from your PayPal
                                    account.</p>
                            </div>
                            <div class="one-thrid"><img
                                    src="//cdn.shopify.com/s/files/1/0456/3176/6690/files/step3.svg?v=1601201030"
                                    width="150" /></div>
                    </div>
                    <hr class="hr--medium">
                <p>If you are qualified for full or partial financing through PayPal Credit, you'll pay no interest
                    charges if paid in full within 6 months. Please keep in mind that interest will be charged to your
                    account from the purchase date if you fail to pay the balance in full within 6 months. Minimum
                    monthly payments are required. SEE PAYPAL CREDIT TERMS & CONDITIONS FOR DETAILS.</p>
            </div>
            <button type="button" class="modal__close js-modal-close text-link">
                <svg t="1660809276040" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="956" width="32" height="32"><path d="M794.8 865.6L512 582.7 229.2 865.6l-70.7-70.7L441.3 512 158.4 229.2l70.7-70.7L512 441.3l282.8-282.8 70.7 70.7L582.7 512l282.8 282.8-70.7 70.8z" fill="#000000" p-id="957"></path></svg>
            </button>
        </div>
    </div>
</div>