<div class="popup_financing">
    <div class="popup_con">
        <div class="close" id="close">
            {% render 'icon',icon:'close' %}
        </div>
        <p class="p">Get 6-month financing with absolute 0% interest!</p>
        <b class="b">Enjoy Quick Access to Convenient Credit</b>
        <div  class="pay"><img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/1_e11833a2-c7fe-4f64-bfcd-25e1a101dad9.png?v=1621403580" /></div>
        <ul class="pay_list">
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/2_1b97840b-0924-40a0-801b-72c0db3f4bf6.png?v=1621403589" />
                <div class="pay_list_con">
                    <b>Get a Credit Decision In Seconds</b>
                    <p>Just answer a few quick questions, and you’ ll know within seconds if you’re approved.</p>
                </div>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/3_2754e03a-11a3-4927-bbf2-240d55936602.png?v=1621403601" />
                <div class="pay_list_con">
                    <b>No Annual Fee</b>
                    <p>Buy now and pay over time year round with no annual fee.</p>
                </div>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/4_41f47fc9-1768-479f-be7e-726a1f1d7ccf.png?v=1621403609" />
                <div class="pay_list_con">
                    <b>There When You Need It</b>
                    <p>If approved, PayPal Credit is automatically added to your account with PayPal. Check out in just a few clicks with no card numbers or expiration dates.</p>
                </div>
            </li>
        </ul>
        <div class="button_pop">
            <a href="https://www.paypal.com/ppcreditapply/da/us/lander?p=ppcdalpBAUNI&t=ppcdaltPPCMICR" rel="nofollow"><div class="btn_pop">Apply Now</div></a>
        </div>
        <div class="introduce">Instructions</div>
        <ul class="introduce_list">
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/5.png?v=1621403616" />
                <b>Step 1</b>
                <b>Select PayPal as your payment method</b>
                <p>After going through and selecting PayPal as your payment method, you will be directed to PayPal website.</p>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/6.png?v=1621403624" />
                <b>Step 2</b>
                <b>Log in to your PayPal and apply for PayPal Credit</b>
                <p>At PayPal confirmation page, look for PayPal Credit and click to apply. Get a credit decision in seconds!</p>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0554/7098/1274/files/7.png?v=1621403632" />
                <b>Step 3</b>
                <b>Pay over 6 installments</b>
                <p>If approved, you are able to shop instantly with PayPal Credit right from your PayPal account.</p>
            </li>
        </ul>
        <div class="notice">
            <b>Notice:</b>
            <p>1.Minimum monthly payments are required.</p>
            <p>2.Interest would be charged from your PayPal account if you failed to pay in full within 6 months.</p>
            <p>3.See more details on PayPal Terms & Conditions.</p>
        </div>
    </div>
</div>
<style>
    a,li{text-decoration: none;list-style: none}
    .popup_financing{position: fixed;left: 0;top: 0;width: 100%;height: 100%; display: flex;justify-content: center;align-items: center;background: rgba(0,0,0,0.8);z-index: 999}
    .popup_con{width: 70%;height: 80%;overflow-y: scroll;padding: 60px 60px;box-sizing: border-box;background: #FFFFFF;position: relative}
    .close{position: absolute;right: 20px;top: 10px;cursor: pointer}
    .p{display: block;width: 100%;text-align: center;font-size: 16px;}
    .b{display: block;width: 100%;text-align: center;font-size: 34px;margin-bottom: 20px;line-height: 40px;}
    .pay{width: 100%;display: flex;justify-content: center;margin-bottom: 30px;}
    .pay img{max-width: 100%;}
    .pay_list{width: 100%;height: auto;overflow: hidden;padding: 0 0;}
    .pay_list li{width: 100%;float: left;margin-bottom: 30px;display: flex;justify-content: space-between;align-items: center;}
    .pay_list li img{width:80px;height: 80px;flex-shrink: 0;}
    .pay_list_con{width: 100%;margin-left: 15px;}
    .pay_list_con b{display: block;width: 100%;font-size: 16px;line-height: 20px;}
    .pay_list_con p{display: block;width: 100%;font-size: 14px;line-height: 20px;}
    .button_pop{width: 100%;margin-top: 10px;display: flex;justify-content: center;}
    .btn_pop{width: 200px;height: 60px;border-radius: 10px;background: #2a408e;display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: #FFFFFF;}
    .introduce{width: 100%;text-align: center;font-size: 20px;margin: 30px 0 20px 0;font-weight: bold;}
    .introduce_list{width: 100%;overflow: hidden; padding: 0 5px;box-sizing: border-box;}
    .introduce_list li{width: 33.33333%;float: left; padding: 0 5px;box-sizing: border-box; display: flex;flex-wrap: wrap;justify-content: center;}
    .introduce_list li img{width: 120px;height: 120px;}
    .introduce_list li b{display: block;width: 100%;text-align: center;font-size: 16px;line-height: 18px;}
    .introduce_list li p{display: block;width: 100%;text-align: center;font-size: 14px;line-height: 18px;margin-top: 10px;}
    .notice{width: 100%;margin-top: 40px;height: auto;overflow: hidden;}
    .notice b{display: block;width: 100%;font-size: 16px;line-height: 20px;}
    .notice p{display: block;width: 100%;font-size: 14px;line-height: 18px;margin: 10px 0 0 0;}
    @media screen and (max-width: 750px) {
        .b{font-size: 30px;}
        .popup_con{width: 90%;height: 90%;padding: 30px 20px;}
        .pay_list li img{width: 60px;height: 60px;}
        .introduce_list li{width: 100%;margin-bottom: 10px;}
    }
</style>
<script src="https://cdn.shopifycdn.net/s/files/1/0554/7098/1274/files/jquery-1.9.1.min.js?v=1620354271"></script>
<script>
    $(".popup_financing").click(function () {
        $("#Financing").css("display","none");
    })
    $(".popup_con").click(function (e) {
        e.stopPropagation();
    })
    $("#close").click(function () {
        $("#Financing").css("display","none");
        $(".no-focus-outline").removeClass("adlink-html");
    })
</script>