{{ 'jd-Instagrams.css' | asset_url | stylesheet_tag }}
<div class="jd-Instagram-all">
    <div class="Instagram-list-content">
        {% if section.settings.title %}
            <div class="text-desc">
                <div class="item-text">{{section.settings.title}}</div>
                <div class="item-text_one">{{section.settings.title_one}}</div>
            </div>
        {% endif %}
        <div class="swiper instagramSwiper">
            <div class="swiper-wrapper">
                
                {%- for block in section.blocks -%}
                    <div class="swiper-slide">
                        <a href="{{block.settings.link}}" target="_blank">
                            <div class="article_imgHidden">
                                <img loading="lazy"  class="gallery__image" {% render 'image-attributes', image: block.settings.img %}>
                            </div>
                          
                            <div class="title_img_icon">
                                <div class="img_icon">
                                    {%- case block.settings.image_icon -%}
                                    <!-- 1 -->
                                    {%- when 'Instagram' -%}
                                        <svg t="1666941671505" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3502" width="32" height="32"><path d="M512 306.9c-113.5 0-205.1 91.6-205.1 205.1S398.5 717.1 512 717.1 717.1 625.5 717.1 512 625.5 306.9 512 306.9z m0 338.4c-73.4 0-133.3-59.9-133.3-133.3S438.6 378.7 512 378.7 645.3 438.6 645.3 512 585.4 645.3 512 645.3zM725.5 250.7c-26.5 0-47.9 21.4-47.9 47.9s21.4 47.9 47.9 47.9 47.9-21.3 47.9-47.9c-0.1-26.6-21.4-47.9-47.9-47.9z" p-id="3503" fill="#ffffff"></path><path d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165z m-88 235.8c-7.3 18.2-16.1 31.8-30.2 45.8-14.1 14.1-27.6 22.9-45.8 30.2C695.2 844.7 570.3 840 512 840c-58.3 0-183.3 4.7-235.9-16.1-18.2-7.3-31.8-16.1-45.8-30.2-14.1-14.1-22.9-27.6-30.2-45.8C179.3 695.2 184 570.3 184 512c0-58.3-4.7-183.3 16.1-235.9 7.3-18.2 16.1-31.8 30.2-45.8s27.6-22.9 45.8-30.2C328.7 179.3 453.7 184 512 184s183.3-4.7 235.9 16.1c18.2 7.3 31.8 16.1 45.8 30.2 14.1 14.1 22.9 27.6 30.2 45.8C844.7 328.7 840 453.7 840 512c0 58.3 4.7 183.2-16.2 235.8z" p-id="3504" fill="#ffffff"></path></svg>
                                    <!-- 2 -->
                                    {%- when 'Facebook' -%}
                                        <svg t="1666941717278" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4480" width="32" height="32"><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32z m-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6 44.2 0 82.1 3.3 93.2 4.8v107.9z" p-id="4481" fill="#ffffff"></path></svg>
                                    <!-- 3 -->
                                    {%- when 'Pinterest' -%}
                                        <svg t="1666941764484" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5496" width="32" height="32"><path d="M512 0C229.236364 0 0 229.236364 0 512s229.236364 512 512 512c282.763636 0 512-229.236364 512-512S794.763636 0 512 0zM559.104 667.042909c-37.841455 0-73.448727-20.898909-85.690182-44.637091 0 0-20.340364 82.478545-24.669091 98.397091-7.261091 26.903273-21.271273 53.76-34.257455 75.031273-18.525091 24.203636-39.889455 6.237091-42.449455-15.825455-0.837818-24.576 0.046545-53.666909 6.144-80.151273 6.749091-29.044364 45.102545-195.072 45.102545-195.072s-11.217455-22.853818-11.217455-56.645818c0-53.061818 30.114909-92.672 67.630545-92.672 31.883636 0 47.290182 24.482909 47.290182 53.76 0 32.721455-20.433455 81.687273-30.952727 127.022545-8.797091 37.981091 18.664727 68.933818 55.342545 68.933818 66.420364 0 111.197091-87.133091 111.197091-190.324364 0-78.475636-51.758545-137.169455-145.92-137.169455-106.356364 0-172.637091 80.989091-172.637091 171.426909 0 31.185455 8.983273 53.201455 23.133091 70.190545 6.469818 7.819636 7.400727 10.984727 5.026909 19.968-1.675636 6.609455-5.538909 22.434909-7.121455 28.718545-2.327273 9.076364-9.541818 12.288-17.547636 8.936727-49.012364-20.433455-71.819636-75.217455-71.819636-136.750545 0-101.701818 84.014545-223.650909 250.600727-223.650909 133.864727 0 221.975273 98.909091 221.975273 205.079273C748.311273 562.129455 671.837091 667.042909 559.104 667.042909z" p-id="5497" fill="#ffffff"></path></svg>
                                    <!-- 4 -->
                                    {%- when 'twitter' -%}
                                        <svg t="1666941788601" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6479" width="32" height="32"><path d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-0.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-0.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z" p-id="6480" fill="#ffffff"></path></svg>
                                    <!-- 5 -->
                                    {%- when 'youtube' -%}
                                        <svg t="1666941808010" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7459" width="32" height="32"><path d="M941.3 296.1c-10.3-38.6-40.7-69-79.2-79.3C792.2 198 512 198 512 198s-280.2 0-350.1 18.7C123.3 227 93 257.4 82.7 296 64 366 64 512 64 512s0 146 18.7 215.9c10.3 38.6 40.7 69 79.2 79.3C231.8 826 512 826 512 826s280.2 0 350.1-18.8c38.6-10.3 68.9-40.7 79.2-79.3C960 658 960 512 960 512s0-146-18.7-215.9zM423 646V378l232 133-232 135z" p-id="7460" fill="#ffffff"></path></svg>
                                    <!-- 6 -->
                                    {%- when 'tumblr' -%}
                                        <svg t="1666941837123" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8428" width="32" height="32"><path d="M576.032 448 576.032 682.176C576.032 741.6 575.264 775.84 581.568 792.672 587.808 809.44 603.488 826.816 620.544 836.896 643.232 850.464 669.088 857.248 698.272 857.248 750.112 857.248 780.736 850.4 832 816.736L832 970.656 832 970.656C788.288 991.232 750.144 1003.264 714.688 1011.584 679.168 1019.84 640.832 1024 599.616 1024 552.768 1024 525.152 1018.112 489.216 1006.336 453.248 994.464 422.528 977.536 397.184 955.808 371.744 933.888 354.176 910.592 344.32 885.952 334.496 861.344 329.632 825.568 329.632 778.72L329.632 419.616 192.192 419.616 192.192 274.624C232.416 261.568 277.344 242.816 305.984 218.464 334.72 194.016 357.728 164.768 375.072 130.528 392.48 96.384 404.416 52.8 410.944 0L576.032 0 576.032 256 832 256 832 448 576.032 448Z" p-id="8429" fill="#ffffff"></path></svg>
                                    <!-- 7 -->
                                    {%- when 'reddit' -%}
                                        <svg t="1666941854405" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9405" width="32" height="32"><path d="M344 568m-56 0a56 56 0 1 0 112 0 56 56 0 1 0-112 0Z" p-id="9406" fill="#ffffff"></path><path d="M626.7 687.7c-23.1 18.2-68.9 37.8-114.7 37.8s-91.6-19.6-114.7-37.8c-14.4-11.3-35.3-8.9-46.7 5.5s-8.9 35.3 5.5 46.7C396.3 771.6 457.5 792 512 792s115.7-20.4 155.9-52.1c14.4-11.4 16.9-32.3 5.5-46.7-11.3-14.4-32.3-16.9-46.7-5.5z" p-id="9407" fill="#ffffff"></path><path d="M960 456c0-61.9-50.1-112-112-112-42.1 0-78.7 23.2-97.9 57.6-57.6-31.5-127.7-51.8-204.1-56.5L612.9 195l127.9 36.9c11.5 32.6 42.6 56.1 79.2 56.1 46.4 0 84-37.6 84-84s-37.6-84-84-84c-32 0-59.8 17.9-74 44.2L603.5 123c-16-4.6-32.8 3.2-39.6 18.4l-90.8 203.9c-74.5 5.2-142.9 25.4-199.2 56.2-19.1-34.3-55.8-57.5-97.9-57.5-61.9 0-112 50.1-112 112 0 45.8 27.5 85.1 66.8 102.5-7.1 21-10.8 43-10.8 65.5 0 154.6 175.5 280 392 280s392-125.4 392-280c0-22.6-3.8-44.5-10.8-65.5C932.5 541.1 960 501.8 960 456zM820 172.5c17.4 0 31.5 14.1 31.5 31.5s-14.1 31.5-31.5 31.5-31.5-14.1-31.5-31.5 14.1-31.5 31.5-31.5zM120 456c0-30.9 25.1-56 56-56 22.3 0 41.6 13.1 50.6 32.1-29.3 22.2-53.5 47.8-71.5 75.9-20.5-8.3-35.1-28.5-35.1-52z m392 381.5c-179.8 0-325.5-95.6-325.5-213.5S332.2 410.5 512 410.5 837.5 506.1 837.5 624 691.8 837.5 512 837.5zM868.8 508c-17.9-28.1-42.2-53.7-71.5-75.9 9-18.9 28.3-32.1 50.6-32.1 30.9 0 56 25.1 56 56 0.1 23.5-14.5 43.7-35.1 52z" p-id="9408" fill="#ffffff"></path><path d="M680 568m-56 0a56 56 0 1 0 112 0 56 56 0 1 0-112 0Z" p-id="9409" fill="#ffffff"></path></svg>
                                    <!-- 8 -->
                                    {%- when 'tiktok' -%}
                                        <svg t="1666941928217" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10704" width="32" height="32"><path d="M899.982222 233.585778c0-60.512711-49.055289-109.568-109.568-109.568H233.585778c-60.512711 0-109.568 49.055289-109.568 109.568v556.828444c0 60.513849 49.055289 109.568 109.568 109.568h556.828444c60.512711 0 109.568-49.054151 109.568-109.568V233.585778zM766.862222 462.450916c-50.062222 0.559787-96.711111-14.576071-137.671111-42.607503v196.778667c0 87.457564-59.865316 162.583893-144.519395 182.204871-115.491271 26.348658-213.25824-57.183573-225.589476-156.973511-12.894436-99.792213 50.74944-187.250916 148.297956-206.873031 19.061191-3.923058 47.730916-3.923058 62.522026-0.559787v105.396907c-4.551111-1.118436-8.813227-2.241422-13.297209-2.801209-38.12352-6.728818-75.046684 12.332373-90.18368 47.091484-15.135858 34.761387-5.005084 75.124053 25.828694 98.67264 25.787733 20.181902 54.400569 22.983111 83.552711 9.527752 29.15328-12.89216 44.82048-36.438471 48.182613-68.394098 0.560924-4.482844 0.530204-9.530027 0.530205-14.576071v-378.424889c0-10.651876 0.083058-10.184249 10.734933-10.184249h83.533369c6.167893 0 8.411591 0.885191 8.972515 8.177209 4.481707 65.031964 53.856711 120.416711 117.20704 128.827164 6.72768 1.120711 13.93664 1.564444 21.901085 2.124231l-0.002276 102.593423z" p-id="10705" fill="#ffffff"></path></svg>
                                  {%- endcase -%}
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                {%- endfor -%}
            </div>
          
        </div>
    </div>
  </div>
  <div>

  </div>
  
  <script>
      var swiper = new Swiper(".instagramSwiper", {
        breakpoints: { 
            280: {  //当屏幕宽度大于等于320
                direction: 'horizontal',
                loop: true,
                autoplay: 5000,
                slidesPerView: "auto",
                centeredSlides:true,
                spaceBetween: 9,
                
               
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            },
            768: {  //当屏幕宽度大于等于768 
                slidesPerView: 3,
                spaceBetween: 20,
                // navigation: {
                //     nextEl: '.swiper-button-next',
                //     prevEl: '.swiper-button-prev',
                // }
            },
            1300: {  //当屏幕宽度大于等于768 
                slidesPerView: 5,
                spaceBetween: 20,
                // navigation: {
                //     nextEl: '.swiper-button-next',
                //     prevEl: '.swiper-button-prev',
                // }
            }
           
        }
      });
  </script>
  
  {% schema %}
    {
      "name": "Instagram Lists",
      "settings": [
      
      ],
      "blocks": [
          {
              "type": "Instagram-item",
              "name": "Instagram Item",
              "settings": [
               {
                "type": "image_picker",
                "id": "img",
                "label": "image"
               },
              {
                "type": "select",
                "id": "image_icon",
                "label": "icon",
                "options": [
                    
                    {
                        "value": "Instagram",
                        "label": "Instagram"
                    },
                    {
                        "value": "Facebook",
                        "label": "Facebook"
                    },
                    {
                        "value": "Pinterest",
                        "label": "Pinterest"
                    },
                    {
                        "value": "twitter",
                        "label": "twitter"
                    },
                    {
                        "value": "youtube",
                        "label": "youtube"
                    },
                    {
                        "value": "tumblr",
                        "label": "tumblr"
                    },
                    {
                        "value": "reddit",
                        "label": "reddit"
                    },
                    {
                        "value": "tiktok",
                        "label": "tiktok"
                    }

                ]
              },
             
               {
                "type": "url",
                "id": "link",
                "label": "link"
               }
              ]
          }
      ],
      "presets": [{
        "name": "Instagram Lists"
       
      }]
    }
  {% endschema %}