<style>
@media(min-width:1000px) {
    #brakebanners{
        width: 100%;
        height: 880px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url({{section.settings.img_pc | img_url:'1920x' }});
    }
    #brakebanners canvas{
        width: 100%;
    }
    .brakebanners_text{
        top: 15%;
        left: 10%;
        position: absolute;
    }
    .brakebanners_textBox{
        max-width: 443px;
    }
    .brakebanners_textTitle{
        font-weight: 600;
        line-height: 1;
    }
    .brakebanners_textText{
        font-size: 18px;
        padding-top: 40px;
        font-weight: 400;
        line-height: 35px;
    }
}
@media(max-width:999px) {
    #brakebanners{
        width: 100%;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url({{section.settings.img_mobile | img_url:'1920x' }});
    }
    #brakebanner canvas{
        width: 100%;
    }
    .brakebanners_text{
        padding: 50px 15px 0;
    }
    .brakebanners_textTitle{
        font-weight: 600;
        line-height: 1;
    }
    .brakebanners_textText{
        font-size: 14px;
        padding-top: 20px;
        font-weight: 400;
        line-height: 18px;
    }
}

</style>

<style>
    
</style>
<div id="brakebanners">
    <div class="brakebanners_text">
       <div class="brakebanners_textBox">
            <div class="brakebanners_textTitle ebike_h1">
                {{section.settings.title}}
            </div>
            <div class="brakebanners_textText">
                {{section.settings.text}}
            </div>
       </div>
    </div>
</div>
{% schema %}
{
    "name": "product E-shifter img",
    "class": "product-E-shifter-img",
    
    "settings":[
        {
            "type": "image_picker",
            "id": "img_pc",
            "label": "img"
        },
        {
            "type": "image_picker",
            "id": "img_mobile",
            "label": "img mobile"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"  
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ],
    "blocks":[
      
    ],
    "presets": [
        {
            "name": "product E-shifter img"
        }
    ]
}


{% endschema %}