<style>
  .mini-country-select {
    z-index: 999;
    position: fixed;
    left: 40px;
    bottom: 40px;
  }
  .cover-img {
    width: 70px;
    height: 70px;
    border-radius:50%;
    overflow:hidden;
    border: 1px solid #DDD;
  }
  .cover-img > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
</style>

<div class="mini-country-select">
  <div class="mini-country-select-wrap">
    <div class="cover-img">
      <img src="https://cdn.shopifycdn.net/s/files/1/0730/5969/6953/files/ca.svg?v=1677572062" alt="">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mini Country Select",
    "settings": [],
    "presets": [
      {
        "name": "Mini Country Select"
      }
    ]
  }
{% endschema %}