<style>
  
</style>

<div class="mini-country-select">
  
</div>

{% schema %}
  {
    "name": "Mini Country Select",
    "settings": [],
    "presets": [
      {
        "name": "Mini Country Select"
      }
    ]
  }
{% endschema %}