<div id="support">
  [[ message ]]
</div>


<script src="https://cdn.shopifycdn.net/s/files/1/0554/7098/1274/files/vue.global.prod.js?v=1680503412"></script>
<script>
 {
    const { createApp } = Vue
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                data: {{ page['maintenance-and-troubleshooting'].metafields.custom.troubleshooting }},
                message: 'Hello'
            }
        },
      methods: {
        handleLink (link) {
          return '/pages/' + link
        }
      },
      mounted() {
        console.log(this.data)
      }
    }).mount('#support')
}
</script>

{% schema %}
  {
    "name": "Support",
    "settings": [],
    "presets": [
      {
        "name":"Support"
      }
    ]
  }
{% endschema %}