<style>
  .x-warp {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .troubleshooting-warap {
    width: 100%;
    padding: 50px 0;
    display:flex;
    justify-content: space-between;
  }
  .troubleshooting-left > h1 {
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
  }
  .troubleshooting-left-content > h2 {
    font-size: 18px;
    color:#333;
    font-weight: 500;
    line-height: 4;
    border-bottom: 1px solid #eee;
  }
  .troubleshooting-left-content > h2:hover {
    color: #2a408e;
    cursor:pointer;
  }
</style>


<div id="troubleshooting" class='x-warp'>
  <div class='troubleshooting-warap'>
    <div class='troubleshooting-left'>
      <h1>{{ page.title }}</h1>
      <div class='troubleshooting-left-content' v-for="item of data">
        <h2>[[item.title]]</h2>
      </div>
    </div>
    <div class='troubleshooting-right'></div>
  </div>
</div>


<script src="https://cdn.shopifycdn.net/s/files/1/0554/7098/1274/files/vue.global.prod.js?v=1680503412"></script>
<script>
 {
    const { createApp } = Vue
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                data: {{ page.metafields.custom.troubleshooting }}
            }
        },
      mounted() {
        console.log('data', this.data)
      }
    }).mount('#troubleshooting')
}
</script>
{% schema %}
  {
    "name": "Troubleshooting",
    "settings": [],
    "presets": [
      {
        "name": "Troubleshooting"
      }
    ]
  }
{% endschema %}