<div id="troubleshooting">
  hhhh-[[test]]
</div>


<script src="https://cdn.shopifycdn.net/s/files/1/0554/7098/1274/files/vue.global.prod.js?v=1680503412"></script>
<script>
 {
    const { createApp } = Vue
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                message: 'Hello Vue!'
            }
        }
    }).mount('#app')
}
</script>
{% schema %}
  {
    "name": "Troubleshooting",
    "settings": [],
    "presets": [
      {
        "name": "Troubleshooting"
      }
    ]
  }
{% endschema %}