<style>
  .x-warp {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .troubleshooting-warap {
    width: 100%;
    padding: 50px 0;
    display:flex;
    justify-content: space-between;
  }
  .troubleshooting-left > h1 {
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
  }
  .troubleshooting-left-wrap h2 {
    font-size: 18px;
    color:#333;
    font-weight: 500;
    line-height: 4;
    border-bottom: 1px solid #eee;
  }
  .troubleshooting-left-wrap > h2:hover {
    color: #2a408e;
    cursor:pointer;
  }
  .troubleshooting-left-content {
    display:grid;
  }
  .troubleshooting-left-subtitle {
    padding-left: 10px;
    line-height: 2;
    display:flex;
    align-items: center;
  }
  .troubleshooting-left-subtitle > svg {
    width: 16px;
    height: 16px;
  }
  .troubleshooting-left-subtitle > a {
    padding-left: 6px;
  }
  .troubleshooting-left-subtitle:hover {
    color: #2a408e;
  } 
  .troubleshooting-left-subtitle:hover > svg {
    fill: 2a408e;
  }
  .troubleshooting-left {
    width: 50%
  }
  .troubleshooting-right {
    width: 30%;
  }
  .article-count {
    padding: 10px 0 0;
    color: #000;
    font-weight: 500;
  }
  .drop-down-content {
/*     height: 0; */
    overflow:hidden;
  }
</style>


<div id="troubleshooting" class='x-warp'>
  <div class='troubleshooting-warap'>
    <div class='troubleshooting-left'>
      <h1>{{ page.title }}</h1>
      <div class='troubleshooting-left-wrap drop-down' v-for="item of data">
        <div class='drop-down-title'>
          <h2 >[[item.title]]</h2>
        </div>
        <div  class='troubleshooting-left-content drop-down-content'>
          <div class='troubleshooting-left-subtitle' v-for="ite of item.content">
            <svg t="1680507468097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3700" width="200" height="200"><path d="M512 832a320 320 0 1 1 320-320 320 320 0 0 1-320 320z m0-554.666667a234.666667 234.666667 0 1 0 234.666667 234.666667A235.093333 235.093333 0 0 0 512 277.333333z" p-id="3701"></path></svg>
            <a :href="handleLink(ite.link)">[[ite.title]]</a>
          </div>
          <div class='article-count'>[[articleCount(item.content.length)]]</div>
        </div>
      </div>
    </div>
    <div class='troubleshooting-right'></div>
  </div>
</div>


<script src="https://cdn.shopifycdn.net/s/files/1/0554/7098/1274/files/vue.global.prod.js?v=1680503412"></script>
<script>
 {
    const { createApp } = Vue
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                data: {{ page.metafields.custom.troubleshooting }}
            }
        },
      methods: {
        articleCount(value) {
          return value === 1 ? `All ${value} article` : `All ${value} articles`
        },
        handleLink (link) {
          return '/pages/' + link
        },
         drowDown () {
          let lists = document.querySelectorAll('.drop-down')
          lists.forEach((item, index) => {
            let title = item.querySelector('.drop-down-title')
            let content = item.querySelector('.drop-down-content')
            title.onclick = () => {
              console.log(content.offsetHeight, typeof content.offsetHeight, index);
            }
          })
          }
      },
      mounted() {
        this.drowDown()
      }
    }).mount('#troubleshooting')
}
</script>
{% schema %}
  {
    "name": "Troubleshooting",
    "settings": [],
    "presets": [
      {
        "name": "Troubleshooting"
      }
    ]
  }
{% endschema %}