@media (max-width:999px) {
    .comment-all{
        padding-top: 50px;
        background-color: #f9f9f9;
    }
    .comment-all .container{
        padding: 0;
    }
    .comment-title{
        color: #151515;
        line-height: 1.2;
        text-align: left;
        padding: 0 15px;
    }
    .commentSwiper .swiper-button-next{
        display: none;
    }
    .commentSwiper .swiper-button-prev{
        display: none;
    }
    .comment-text{
        text-align: left;
        font-size: 14px;
        color: #151515;
        font-weight: 400;
        padding: 0 15px;
        line-height: 18px;
        margin-top: 18px;
    }
    .commentSwiper_after{
        position: relative;
    }
    .commentSwiper_after::after{
        background: rgb(0 0 0 / 2%);
        content: "";
        z-index: 100;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .comment-box-bottom{
       padding: 20px 0 50px;
    }
    .commentSwiperBox{
        cursor: pointer;
        display: flex;
        opacity: 0.61;
        text-align: left;
        align-items: center;
        flex-direction: column
    }
    .commentSwiperBoxs{
        opacity: 1;
    }
    .commentSwiper_Title{
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
    }
    .commentSwiper{
        overflow: hidden;
        position: relative;
    
    }
    .commentSwiper .swiper-slide {
        width: 52%;
    }
    .commentSwiper .swiper-button-next{
        right: 0;
    }
    .commentSwiper .swiper-button-prev{
        left: 0;
    }
    .commentSwiper .swiper-button-next:after,.commentSwiper .swiper-button-prev:after{
        font-size: 30px;
        color: #2A408E;
    }
}
@media (min-width:1000px) {
    .comment-all{
        margin-top: 90px;
    }
    .comment-title{
        color: #151515;
        line-height: 1.2;
        text-align: center;
    }
    .comment-text{
        text-align: center;
        font-size: 18px;
        color: #151515;
        font-weight: 400;
        line-height: 35px;
        width: 69%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .comment-box-bottom{
       margin: 70px 0 100px;
    }
    .commentSwiperBox{
        cursor: pointer;
        display: flex;
        opacity: 0.61;
        text-align: center;
        align-items: center;
        flex-direction: column
    }
    .commentSwiperBoxs{
        opacity: 1;
    }
    .commentSwiper_Title{
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        margin-top: 16px;
    }
    .commentSwiper{
        overflow: hidden;
        position: relative;
    
    }
    .commentSwiper .swiper-button-next{
        right: 0;
    }
    .commentSwiper .swiper-button-prev{
        left: 0;
    }
    .commentSwiper .swiper-button-next:after,.commentSwiper .swiper-button-prev:after{
        font-size: 30px;
        color: #2A408E;
    }
}
@media (min-width:1396px){
    .commentSwiper .swiper-button-next{
        display: none;
    }
    .commentSwiper .swiper-button-prev{
        display: none;
    }
    
}